pytorch-lightning
hydra-core
einops==0.7.0
timm==0.9.8
librosa
wandb
pyrootutils     # standardizing the project root setup
pre-commit      # hooks for applying linters on commit
opencv-python
pandas
numpy
scikit-learn
matplotlib
hiera-transformer
torchaudio 